.accroche {
  margin: auto;
  padding-bottom: 30px;
  p {
    text-align: justify;
    margin-top: 0px;
  }
}

.row-studio {
  margin: auto;
}

.img-studio1 {
  width: 80%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}

.img-studio2 {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
