.prestations {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  align-items: center;
  position: relative;
  height: 50px;
  button {
    text-decoration: none;
    color: white;
    background-color: #F12B6B;
    padding: 10px;
    border-radius: 2px;
    letter-spacing: 1.5px;
    font-size: 15px;
    font-weight: bolder;
    margin: 0px;
    border: none;
    border: 2px solid #F12B6B;
  }
  button:hover {
    background-color: white;
    color: #F12B6B;
  }
  button:focus {
    outline: none;
  }
}

.modal-content {
  padding: 30px;
  position: relative;
  h2 {
  }
}
