<div class="navbar-wagon navbar-wagon-fixed">
  <div class="reseaux">
    <p>
      <a href="" target="_blank"><i class="fa fa-facebook" aria-hidden="true" style="margin: 5px;"></i></a>
      <a href="" target="_blank"><i class="fa fa-instagram" aria-hidden="true" style="margin: 5px;"></i></a>
    </p>
  </div>
  <div class="top">
    <h2>Fleur de passion</h2>
    <h4>Décoratrice Florale<br>Hélène Lafargue</h4>
  </div>
  <div class="btn-navbar">
    <a type="button" data-toggle="modal" data-target=".bd-example-modal-sm">Demandez un devis</a>
  </div>
  <div class="navbar-center hidden-xs">
    <div><a href="/" id="btn1" style="font-size: 20px;"><i class="fa fa-home"></i></a></div>
    <div><a href="#tarifs" id="btn2">Prestations et tarifs</a></div>
    <div><a href="#galerie" id="btn">Galerie</a></div>
    <div><a href="#avis" id="btn">Avis</a></div>
    <div><a href="#contact" id="btn">Contact</a></div>
  </div>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content text-center">
      <p><strong>— Mail —</strong></p>
      <p><i class="fa fa-telegram"></i> kellacapucine@hotmail.fr</p>
      <p><strong>— Tel —</strong></p>
      <p><i class="fa fa-phone-square"></i> 06.06.06.06.06</p>
    </div>
  </div>
</div>

