<div class="navbar-wagon navbar-wagon-fixed">
  <div class="reseaux">
    <p>
      <a href="" target="_blank"><i class="fa fa-facebook" aria-hidden="true" style="margin: 5px;"></i></a>
      <a href="" target="_blank"><i class="fa fa-instagram" aria-hidden="true" style="margin: 5px;"></i></a>
    </p>
  </div>
  <div class="top">
    <h2>Fleur de passion</h2>
    <h4>Décoratrice Florale<br>Hélène Lafargue</h4>
  </div>
  <div class="btn-navbar">
    <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg5">Demandez un devis</button>
  </div>
  <div class="navbar-center hidden-xs">
    <div><a href="/" id="btn1" style="font-size: 20px;"><i class="fa fa-home"></i></a></div>
    <div><a href="#tarifs" id="btn">Prestations et tarifs</a></div>
    <div><a href="#galerie" id="btn">Galerie</a></div>
    <div><a href="#avis" id="btn">Avis</a></div>
    <div><a href="#contact" id="btn">Contact</a></div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <p class="devis-title">Horaire commercial</p>
      <p>De 9h00 à 19h00.</p>
      <p class="devis-title">Mode de paiement</p>
      <p>Acompte de 50 % lors de la réservation pour le règlement se fait par virement bancaire,chèques ou espèces.</p>
      <p class="devis-title">Facturation des déplacements:</p>
      <p>0,74/km.</p>
      <p class="devis-title">Déplacements</p>
      <p>Je me déplace principalement dans l'Ouest parisien.</p>
      <p class="devis-title">Commande</p>
      <p>Pour les commandes plus importantes me contacter au minimum 3 mois avant.</p>
      <p class="devis-title">Mariages</p>
      <p>vous devez me contacter de 3 à 6 mois avant la date prévue.</p>
      <p class="devis-title">Mail</p>
      <p><i class="fa fa-telegram"></i> kellacapucine@hotmail.fr</p>
      <p class="devis-title">Téléphone</p>
      <p><i class="fa fa-phone-square"></i> 06.46.05.50.95</p>
    </div>
  </div>
</div>

