<div class="navbar-wagon cd-auto-hide-header.is-hidden navbar-wagon-fixed collapse navbar-collapse hidden-xs">
<!--   <div>
    <%= link_to root_path, class: "navbar-wagon-brand-menu" do %>
    <%= image_tag "logo-blue.jpg" %>
    <% end %>
  </div> -->
  <div class="navbar-center hidden-xs">
    <div><a href="#presentation" id="btn">Fleur de passion</a></div>
    <div><a href="#galerie" id="btn">Galerie</a></div>
    <div><a href="#tarifs" id="btn">Prestations et tarif</a></div>
    <div><a href="#contact" id="btn">Contact</a></div>
  </div>


  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-lg hidden-md">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

