<div class="navbar-wagon navbar-wagon-fixed collapse navbar-collapse hidden-xs">
  <div class="reseaux">
    <p>
      <a href="" target="_blank"><i class="fa fa-facebook" aria-hidden="true" style="margin: 5px;"></i></a>
      <a href="" target="_blank"><i class="fa fa-instagram" aria-hidden="true" style="margin: 5px;"></i></a>
    </p>
  </div>
  <div class="btn-devis">
    <a href=""><p>Demande de devis</p></a>
  </div>
  <div class="top">
    <h2 class="title">Fleur de passion</h2>
    <h4 class="title">Artisan Fleuriste<br>Hélène Roinsard</h4>
  </div>
  <div class="navbar-center hidden-xs">
    <div><a href="#presentation" id="btn1"><i class="fa fa-home"></i></a></div>
    <div><a href="#galerie" id="btn">Galerie</a></div>
    <div><a href="#tarifs" id="btn">Prestations et tarifs</a></div>
    <div><a href="#avis" id="btn">Avis</a></div>
    <div><a href="#contact" id="btn">Contact</a></div>
  </div>
</div>

