<div class="wrapper" id="avis">
  <h2 class="title">Avis</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card-avis">
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p>Ghislain Chavanne</p>
          <p>Fleur de passion nous a proposé des bouquets de grande qualité ! Tout a été parfait dans l'organisation ! Un grand merci !</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-avis">
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p>Raphaëlle Chefdebien</p>
          <p>Fleur de passion nous a proposé des bouquets de grande qualité ! Tout a été parfait dans l'organisation ! Un grand merci !</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-avis">
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p>Agathe Lizée</p>
          <p>Fleur de passion nous a proposé des bouquets de grande qualité ! Tout a été parfait dans l'organisation ! Un grand merci !</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-avis">
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p>Camille Basset</p>
          <p>Fleur de passion nous a proposé des bouquets de grande qualité ! Tout a été parfait dans l'organisation ! Un grand merci !</p>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-devis">
    <a href="">Nous suivre !</a>
  </div>
</div>
