<div class="wrapper" id="contact">
  <h2 class="title">Contact</h2>
  <div class="container">
    <div class="row flex" style="margin-bottom: 30px;">
      <div class="col-md-2">
        <div class="pic-bio">
          <%= image_tag("fleur.jpg")  %>
        </div>
      </div>
      <div class="col-md-10">
        <div class="pic-text">
        <p>
          Fleur de passion crée la décoration de vos événements avec goût et imagination et des dernières tendances actuelles tout simplement pour embellir vos pièces de réception et vous offrir une prestation à la hauteur de vos exigences.
          </p>
          </div>
      </div>
    </div>
  <p style="text-align: justify;">Si vous souhaitez nous contacter, nous poser une question ou en savoir plus sur nos prestations et tarifs n’hésitez pas à nous  contacter par mail à l’adresse suivante : <br><br>h.l.fleurdepassion@gmail.com  <br><br>Ou directement par téléphone au : 06.46.05.50.95 <br><br></p>
      <p class="devis-title">Horaire commercial</p>
      <p>De 9h00 à 19h00.</p>
      <p class="devis-title">Mode de paiement</p>
      <p>Acompte de 50 % lors de la réservation pour le règlement se fait par virement bancaire,chèques ou espèces.</p>
      <p class="devis-title">Facturation des déplacements:</p>
      <p>0,74/km.</p>
      <p class="devis-title">Déplacements</p>
      <p>Je me déplace principalement dans l'Ouest parisien.</p>
      <p class="devis-title">Commande</p>
      <p>Pour les commandes plus importantes me contacter au minimum 3 mois avant.</p>
      <p class="devis-title">Mariages</p>
      <p>vous devez me contacter de 3 à 6 mois avant la date prévue.</p>
      <p class="devis-title">Mail</p>
      <p><i class="fa fa-telegram"></i> h.l.fleurdepassion@gmail.com </p>
      <p class="devis-title">Téléphone</p>
      <p><i class="fa fa-phone-square"></i> 06.46.05.50.95</p>
  </div>
</div>
