<div class="wrapper" id="contact">
  <h2 class="title">Contact</h2>
  <div class="container">
  <p style="text-align: justify;">Si vous souhaitez nous contacter, nous poser une question ou en savoir plus sur nos prestations et tarifs n’hésitez pas à nous  contacter par mail à l’adresse suivante : <br><br>kellacapucine@hotmail.fr <br><br>Ou directement par téléphone au : 06 06 06 06 06 <br><br></p>
  </div>
</div>
