<div class="container" style="background-color: #7BCECC; height: 40px; display: flex; align-items: center; justify-content: space-around;">
  <a href="" style="color: #FEF8E6; font-size: 14px; font-weight: bold;">© Fleur de Passion</a>
</div>
