<div class="container" style="background-color: #C3CBCC; height: 40px; display: flex; align-items: center; justify-content: space-around;">
  <a href="" style="color: white; font-size: 14px; font-weight: bold;">© Fleur de Passion</a>
</div>
