<div class="wrapper" id="galerie">
  <h2 class="title">Galerie</h2>
  <div class="container carousel">
    <div class="row">
        <div class="col-xs-6">
            <a href="http://res.cloudinary.com/dvzt9mxtd/image/upload/v1522766598/carousel1_sksurm.png" class="thumbnail">
              <%= image_tag("carousel1.png")  %>
            </a>
        </div>
        <div class="col-xs-6">
            <a href="http://res.cloudinary.com/dvzt9mxtd/image/upload/v1522766598/carousel2_gisny2.png" class="thumbnail">
              <%= image_tag("carousel2.png")  %>
            </a>
        </div>
        <div class="col-xs-6">
            <a href="http://res.cloudinary.com/dvzt9mxtd/image/upload/v1522766598/carousel3_oepc9t.png" class="thumbnail">
              <%= image_tag("carousel3.png")  %>
            </a>
        </div>
        <div class="col-xs-6">
            <a href="http://res.cloudinary.com/dvzt9mxtd/image/upload/v1522766598/carousel4_xhdgqb.png" class="thumbnail">
              <%= image_tag("carousel4.png")  %>
            </a>
        </div>
    </div>
  </div>
  <div class="btn-devis">
    <a href="">Voir plus de photos</a>
  </div>
</div>
