<div class="wrapper" id="galerie">
  <h2 class="title">Galerie</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <div class="galerie-pic" style="background-image: url('<%= image_path('banner.jpg') %>');">
        </div>
      </div>
      <div class="col-xs-4">
        <div class="galerie-pic" style="background-image: url('<%= image_path('fleur.jpg') %>');">
        </div>
      </div>
      <div class="col-xs-4">
        <div class="galerie-pic" style="background-image: url('<%= image_path('fleur.jpg') %>');">
        </div>
      </div>
    </div>
  </div>
</div>
