<div class="wrapper" id="presentation" style="margin-top: 200px; height: calc(100vh - 200px); display: flex; flex-flow: column; text-align: center;">
  <div class="container" style="">
    <div class="accroche">
      <p>Fleur de passion crée la décoration de vos événements avec goût et imagination et des dernières tendances actuelles tout simplement pour embellir vos pièces de réception et vous offrir une prestation à la hauteur de vos exigences.<p>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="img-studio1" style="background-image: url('<%= image_path('banner.jpg') %>');">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="img-studio2" style="background-image: url('<%= image_path('presta.png') %>');">
        </div>
      </div>
    </div>
  </div>
</div>

