<div class="wrapper" id="tarifs">
  <h2 class="title">Prestations et tarifs</h2>
  <div class="container">
    <div class="row row-presta">
      <div class="col-md-4 col-xs-12 flex">
        <%= image_tag("presta.png", style: "width: 100%; border: 4px solid #7BCECC; margin-bottom: 20px;")  %>
      </div>
      <div class="col-md-8 col-xs-12 flex" style="text-align: justify;">
        <p>Fleur de passion crée la décoration de vos événements avec goût et imagination et en suivant les dernières tendances afin d'embellir au maximum vos pièces de réception et vous offrir une prestation à la hauteur de vos exigences ! <br><br>
          Vous vous mariez cette année, découvrez nos prestations et tarifs pour vous accompagner dans ce magnifique événement ! <br>Fleur de passion vous propose une composition unique, de qualité avec des fleurs d'une grande fraîcheur.<p>
      </div>
    </div>
    <div class="prestations">
      <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg1">La mariée</button>
      <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg2">Le cortège</button>
      <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg3">La céremonie religieuse</button>
      <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg4">La réception</button>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h2 class="title">La mariée</h2>
      <p>Bouquet de mariée à partir de 50€ <br>
      Bouquet semi cascade à partir de 55€ <br>
      Bouquet cascade longue à partir de 60€ <br>
      Bouquet moderne personnalisé et travaillé à partir de 65 à 110€ <br>
      Bouquet bracelet à partir de 40€ <br>
      Bouquet à lancer à partir de 25€ <br>
      Bijou floral de mariée à partir de  10€ <br>
      Bracelet floral à partir de 20€</p>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h2 class="title">Le cortège</h2>
      <p>Boutonnière du marié à partir de 8€<br>
      Boutonnière famille du témoin à partir de 7€<br>
      Boutonnière enfant à partir de 5€<br>
      Bouquet de demoiselle d'honneur à partir de 20€<br>
      Bouquet de demoiselle d'honneur fillette à partir 12€<br>
      Bracelet floral femme à partir de 22€<br>
      Couronne de fleur fillette à partir de 15€</p>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h2 class="title">La cérémonie religieuse</h2>
      <p>Bouquet à la vierge à partir de 30€<br>
      Bout de banc à partir de 8€<br>
      Chaise des mariés les deux 20 €<br>
      Avec décor etc... <br>
      Devant d'autel à partir de 45€<br>
      Pétales de roses dans l'allée (centrale) à partir de 100€</p>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h2 class="title">La réception</h2>
      <p>Centre de table bas classique à partir de 50€<br>
      Chandelier fleuri à partir de 70€<br>
      Petit chandelier à partir de 70€<br>
      Moyen chandelier à partir de 100€<br>
      Grand chandelier à partir de 165€<br>
      Vase fleuri à partir de 55€<br>
      Les vases en hauteur à partir de 90€<br>
      Bouquet haut à partir de 100€<br>
      Bouquet vase plus haut 120€<br>
      Bouquet grande taille 150€<br>
      Décor de buffet (selon la demande à partir de 250€)<br>
      Décor de salle à partir de   290€</p>
    </div>
  </div>
</div>
